@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  background: url('https://img.freepik.com/free-vector/realistic-ramadan-kareem-illustration_52683-57886.jpg?t=st=1743314183~exp=1743317783~hmac=ddeed582997e62cdfcf1e43cbe84ef5990d0f3954df732325c50d9ac944d48fd&w=1380') no-repeat center center fixed;
  background-size: contain;
  background-color: #111;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.card {
  max-width: 800px;
  padding: 0 20px;
  border-radius: 12px;
  color: #e0e0e0;
  margin: 20px;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7), 0 0 12px rgba(255, 255, 255, 0.5);
}

.card h1 {
  font-family: 'Amiri', serif;
  color: #fdfd96;
  font-size: 2.4rem; font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.card p {
  margin-bottom: 1em;
  line-height: 1.8; font-weight: 500;
}

.card .from {
  font-style: italic;
  color: #ccc;
}

#playMusic {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #fdfd96;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #333;
  margin-top: 20px;
}
#playMusic:hover {
  background-color: #ffcd00;
}

.ketupat-row {
  position: relative;
  height: 80px;
  margin-top: 30px;
}

.ketupat-gif {
  width: 50px;
  height: auto;
  position: absolute;
  bottom: 0;
}

.ketupat-left {
  left: 0;
}

.ketupat-center {
  left: 50%;
  transform: translateX(-50%);
}

.ketupat-right {
  right: 0;
}

.text-box {
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #ffe066;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
}
